<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style type="text/css">
		body {
			background-color: (0, 0, 0, 0.5);
			background-image: url('https://cdn.pixabay.com/photo/2015/07/15/11/53/woodtype-846089_1280.jpg');
			background-size: 100%;
			align-items: center;
			text-align: center;
			z-index: 0;
			padding-top: 20px;
			color: white;
			font-family: sans-serif;
		}
		.input {
			width: 120px;
			height: 45px;
		}
	</style>
</head>
<body>
	<h1 style="font-size: 60px;">WORD COUNT</h1>
	<h2>Enter the text:</h2>
	<form action="{% url 'count' %}">
		<textarea cols="80" rows="18" name="fulltext"></textarea><br><br>
		<input type="submit" value="Count!" name="" class="input"></input>			
	</form>		
	<br>
	<a href="{% url 'about' %}" style="color: white;">GO TO THE ABOUT OF THE PAGE</a>
</body>
</html>